{%  extends 'base.html.twig' %}


{% block body %}


<form>

    new <input type="text" name="name"><br>
    population <input type="text" name="population">
    <br>


    <input type="hidden" name="new_country" value="1">

    <input type="submit" value="send">


</form>


{% endblock %}



