{%  extends 'base.html.twig' %}


{% block body %}

    <a href="{{ path('home') }}">Back</a>



    {{ dt.run() }}

{#    {{ dump(data) }}#}
{#    <table border="1">#}

{#    {% for notification in data %}#}

{#        <tr>#}


{#            <td>#}
{#                {{ dump(notification) }}#}



{#            </td>#}

{#        </tr>#}



{#    {% endfor %}#}
{#    </table>#}


{% endblock %}
